.row{
  background-color: green;


}

.title{
  align-self: center;
  margin: auto;
  align-content: center;
  text-align: center;
  font-size: 50px;
}

.main{

 width: 50%;
 height:50%;
 overflow: auto;
 align-content: center;
 align-self: center;
 margin: auto;
 margin-top: 5%;
}

.cell{
  width: 25%;
  float: left;
  height: 150px;
  font-size: 100px;
  text-align: center;

}

#tl{
  margin-top: 20px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

#tm{
  margin-top: 20px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

#tr{
  margin-top: 20px;
  border-bottom: 3px solid black;
}

#ml{
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

#mm{
  border-bottom: 3px solid black;
}

#mr{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}

#bl{
 border-right: 3px solid black;
}

#bm{

   border-right: 3px solid black;
}

.cell:hover{
  background-color: yellow;
  cursor: pointer;
}
